html, body {
    background: transparent;
}

.block_course_overview .content {
    margin:  0px;
}

.infoBoxHeading.navbar {
    height: 50px;
    padding: 0px !important;
}

.navbar {
    position: relative;
}

.navbar ul {
    margin-left: 20px;
}

.navbar ul li {
    line-height: 52px;
    vertical-align: middle;
    margin: 0px;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}

.navbar ul li .sep {
    margin: 0px 10px;
}

.navbar .navbutton div {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    line-height: 100%;
}

.navbar input {
    margin-left: 4px;
    min-height: 18px;
    vertical-align: middle;
}

.navbar input[type=submit] {
    padding: 6px;
}

.skip-block {
    display: none;
}

.navbar .iconhelp {
    position: absolute;
    top: 6px;
    left: 3px;
}

.navbar #search {
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid black;
}

input[type=submit] {
    border-radius: 3px;
    border: 1px outset gray;
    padding: 3px;
}

#adminsearchquery {
    width: 122px;
    margin-right: 4px;
}

.accesshide {
    display: none;
}

th, td {
    padding: 3px;
}

.calendar-controls {
    text-align: center;
}

li {
    list-style-type: none !important;
}

ul {
    margin: 0px;
}

.block .header .block_action {
    float: right;
    margin: 0px;
}

.block {
    border: none;
}

.blockmovetarget {
    padding: 6px;
    color: gray;
    border: 1px dashed black;
}

.blockmovetarget .accesshide {
    display: block;
    position: static;
}

.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.generalbox {
    padding: 6px;
}

.loginbox {
    overflow: hidden;
}

.breadcrumb h3 {
    margin: 4px 0px 8px 0px;
}

.breadcrumb h3 ul {
    float: left;
}
